html, body { padding: 0; margin: 0; font-size: 12px; font-family: Verdana, ARIAL, HELVETICA, SANS-SERIF; color:#f8f8f8;  }

html		{ background: url(/imgs/main_bg_m.jpg) repeat-x top center #614b24; }
body		{ background: url(/imgs/main_bg.jpg) no-repeat top center; }

a			{ color:#87a450; }
a:hover		{ color:#9ebe60; }
input,textarea { margin: 0; width: 100%; padding: 2px 0; border-radius: 3px; border: 2px solid #fff; background-color: #bbb; }
.checkbox	{ width: auto; height: auto; }

.header			{ height: 170px; width: 1200px; margin: 0 auto; }
.content		{ margin: 0 auto; width: 1200px; }
.content-wrapper	{ width: 1200px; min-height: 450px; padding: 1px 0 0 0;
				background: url(imgs/content_mid.png) repeat-y top center; }
.content-bottom	{ width: 1200px; height: 240px; position: relative;
				background: url(imgs/content_bot.png) repeat-y top center; }
.content-top	{ width: 1200px; height: 271px; position: relative; z-index:5;
				background: url(imgs/content_top.png) repeat-y top center; }

.metrika		{ position: absolute; margin: 38px 0 0 920px; z-index: 9; }

.last-topics .item	{ padding: 2px 0; }
.last-topics .item .user{ display: inline-block; padding: 0 10px 0 0; width: 150px; overflow: hidden; white-space: nowrap; }
				
.logo			{ position: absolute; font-size: 35px; margin: 10px 0 0 380px; }
.logo a			{ text-decoration: none; color: #FF9966; }
.main-menu		{ position: absolute; margin: 167px 0 0 173px; z-index: 10; }
.main-menu .item{ float:left; background: url(/imgs/label.png) no-repeat; width: 102px; height: 106px; float: left; }
.main-menu .item a{ display: block; color: #fefefe; width: 102px; text-align: center; text-shadow: 0.1em 0.1em 0.2em black; 
					padding: 18px 0; font-size: 18px; text-decoration: none; }
.main-menu .item a:hover{ background: url(/imgs/menu_back.png) no-repeat; }
.main-menu .item-second	{ margin: 1px 0 0 48px; }

.text-zone		{ margin: -110px auto 0; width: 800px; position: relative; padding: 25px 0 0 0; z-index: 10; }
.text-zone .main-title{ font-size: 20px; font-weight: normal; margin: 0 0 15px; }
.block-content	{ padding: 0; margin: 0 0 25px 0; border-bottom: 2px solid #2a1a0c; }

.monsters-one	{ width: 495px; height: 398px; background: url(imgs/monsters_1.png) no-repeat top left;
					position: absolute; margin: -140px 0 0 0; right: -20px; }
.monsters-two	{ width: 191px; height: 232px; background: url(imgs/monsters_2.png) no-repeat top left;
					position: absolute; margin: 187px 0 0 0; float: left; }
.monster-three	{ width: 230px; height: 445px; position: absolute; margin: -210px 0 0 0; 
					float: left; background: url(imgs/monsters_3.png) no-repeat top left; z-index: 5;  }
.monster-four	{ width: 323px; height: 406px; position: absolute; right:0; margin: -166px 25px 0 0;
					background: url(imgs/monsters_4.png) no-repeat top left; z-index: 5; }
					
.left-block 	{ float: left; width: 570px; padding: 0 15px 25px 0; border-right: 2px solid #2a1a0c; }
.right-block 	{ float: right; width: 200px;  padding: 0  0 0 0; margin-top: 30px; }

.clear			{ clear: both; }
.copy			{ font-size: 10px; position: absolute; margin: 32px 0 0 350px; color:silver; }
.plus-12		{ width: 64px; height: 64px; background: url(/img/12plus.png) no-repeat; position: absolute; left: 250px; top: 20px; }

.news-list		{ padding: 0 0 0 0; }
.news-list .more{ display: none; }
.news-list .title { font-size: 20px; margin: 0 0 8px 0; }
.news-list .item{ padding: 25px 0; border-bottom: 2px solid #3f2712; }
.news-list .comments	{ padding: 10px 0 0 0; }
.news-list .more-link	{ padding: 3px 0 0 0; }
.news-list .more-link a{ text-decoration: none; border-bottom: 1px dashed #87a450; }

.server-list	{ padding: 25px 0 25px 0; border-bottom: 2px solid #2a1a0c; }
.server-list .item{  }
.server-list .item .server-name	{ display: inline-block; width: 120px; text-decoration: underline; }
.server-list .item a			{ padding: 4px 4px; display: block; }
.server-list .item a:hover	{ background:#2a1a0c;  }
.server-list .item .peoples { display: inline-block; width: 67px; text-align: right; color: #fefefe; }

.bann-block			{ height: 250px; padding: 0 0 25px; border-bottom: 2px solid #2a1a0c; }
.features-gallery 	{ overflow: hidden; height: 250px; }
.features-gallery .tail{ position: absolute; width: 50px; height: 50px; }
.features-gallery .first-list,
.features-gallery .second-list  { position: absolute; width: 200px; height: 250px;}

.block-net,
.events-block		{ padding: 25px 0 25px; border-bottom: 2px solid #2a1a0c; }

.events-block .twit-text{ padding: 4px 0 25px; }

.scroll				{ border:1px solid #6e4626; margin: 3px 0; }
.scroll-head		{  background-color: #2a1a0c; font-weight: bold; font-size: 12px; padding-left: 5px; padding-top: 4px; padding-bottom: 4px; cursor: pointer; vertical-align: center; min-height: 12px; }
.scroll-body		{  background-color: #4d311b; padding: 5px; overflow: auto; display: none; }
.scroll-head ._plus	{ margin-right: 10px; margin-top: 2px; float: left; width: 9px; height: 9px; }
.spoler				{  width: 100%; }
.spoler-head		{  font-weight: bold; padding-left: 5px; padding-top: 4px; cursor: pointer; }
.spoler-body		{  padding-left: 15px; display: none; }



.preview 			{	position: fixed; left: 0; top: 0; opacity: 0.7; background-color: black; z-index: 1200; cursor: pointer; }
.preview-image		{ cursor: pointer; box-shadow: 0 0 10px #999; position: relative; }
.preview-images 	{ position: fixed; left: 0; top: 0; z-index: 1201; cursor: pointer; text-align: center; display: table-cell;
   vertical-align: middle; }
   
.craft-table	{ border-left: 1px solid white; border-top: 1px solid white; border-right: 1px solid #434343; border-bottom: 1px solid #434343; padding: 7px; background-color: #bbb; display: inline-block; }
.craft-slot	{ border-left: 1px solid #434343; border-top: 1px solid #434343; border-right: 1px solid white; border-bottom: 1px solid white; background-color: #7a7979; cursor: pointer;}
.craft-arrow	{ padding: 0 10px; }
.items-amount	{ color: white; font-weight: bold; font-size: 16px; text-shadow: 0.1em 0.1em 0.2em black; text-decoration: none; margin-left: 20px; margin-top: -10px; position: absolute; }

.items-bg-32	{ background: url('/img/mc/items32.png'); width: 32px; height: 32px; background-position: -448px -448px; display: inline-block;
				-webkit-background-size: 512px 512px; -moz-background-size: 512px 512px; -o-background-size: 512px 512px; background-size: 512px 512px; }
.items-dmh-bg-32	{ background: url('/img/mc/items-dmh32.png'); width: 32px; height: 32px; background-position: -448px -448px; display: inline-block;
				-webkit-background-size: 512px 512px; -moz-background-size: 512px 512px; -o-background-size: 512px 512px; background-size: 512px 512px; }
.access-bg-32	{ background: url('/img/mc/accessories.png'); width: 32px; height: 32px; background-position: -480px -480px; display: inline-block;
				-webkit-background-size: 512px 512px; -moz-background-size: 512px 512px; -o-background-size: 512px 512px; background-size: 512px 512px; }
.buffs-32		{ background: url('/img/mc/buffs.png'); width: 32px; height: 32px; background-position: -224px -224px; display: inline-block;
				-webkit-background-size: 256px 256px; -moz-background-size: 256px 256px; -o-background-size: 256px 256px; background-size: 256px 256px; }
.blocks-32		{ background: url('/img/mc/blocks32.png'); width: 32px; height: 32px; background-position: -800px -480px; display: inline-block;
				-webkit-background-size: 832px 512px; -moz-background-size: 832px 512px; -o-background-size: 832px 512px; background-size: 832px 512px; }
				
	/* group colors */
.guest 			{ color: #FFF; }
.free 			{ color: #888 !important; }
.vip 			{ color: #8F8; }
.girls 			{ color: #F6F; }
.builders 		{ color: #CCF; }
.codes 			{ color: #888; }
.mods 			{ color: #F77; }
.eventmoder 	{ color: #F77; }
.admins 		{ color: #F44; }
.premium 		{ color: gold; }
.helper 		{ color: dodgerblue; }
.system 		{ color: #F66; font-weight: bold; text-shadow: 0.1em 0.1em 0.2em black; }

.guest, .free, .vip, .girls, .builders, .codes, .mods, .eventmoder, .admins, .premium, .helper, .system { text-decoration: none; }

.main-header				{ border-bottom: 1px dotted #654022; margin-bottom: 5px; }
.main-header .user-link		{ float: right; font-size: 13px; }
.main-header .date			{ float:right; font-size: 11px; margin: 2px 0 0 10px; }

.frame {
			margin: 3px 0 3px;
			padding: 5px;
			border: 1px solid #654022;
			background: #39230a;
			color: white;
}

				/* Блог */
.blog						{ }
.blog .main-title			{ padding: 0 0 15px 0; font-size: 18px; }
.blog .main-title a			{ text-decoration: none; }
.blog .item					{ padding: 10px; border:1px solid gray; margin: 5px 15px 15px; border-radius: 5px; }
.blog .main-title input		{ width: 400px; float: left; margin: 0 0 2px 0; }
.blog .comments-title		{ padding: 5px 0; }
.blog .comment .comment		{ padding: 0 0 0 35px; background-image: url('http://forum.minecraft-galaxy.ru/img/line1.png'); background-repeat: repeat-y; }
.blog .avatar				{ float: left; margin: 0 5px 0 0; }
.blog .maindata				{ margin: 0 0 0 54px; overflow: hidden; }
.blog .desc					{ padding: 20px 0; }
.blog .avatar img			{ display: block; }
.blog .comment .date		{ margin: 0 0 0 10px; }
.blog .comment .block				{ padding: 10px; }
.blog .comment .block:hover			{ background: #62401a; }
.blog .comment .edit				{ float: right; visibility: hidden; width: auto; }
.blog .comment .block:hover .edit	{ visibility: visible; }
.blog .comment .user				{ max-width: 100%; }
.blog .comment-own .user			{ background: #000; padding: 3px; }
.blog .desc							{ padding: 10px; }
.blog .desc .edit					{ visibility: visible; position: relative; margin: -15px 0 0 0; }
.blog .class-edit:hover				{ background: #62401a; }
.blog .edit							{ float: right; width: auto; visibility: hidden; padding: 0 10px; }
.blog .class-edit:hover .edit		{ visibility: visible; }
.blog .edit-title .pen				{ margin: 5px 0 0 0; }
.blog .bc_quote						{  }
.blog-navi							{ left:15px; position: fixed; border:1px solid #654022; padding: 2px;
										background: #39230a; top: 80px; }
.blog-navi .button					{  }
.blog-navi .button a				{ display: inline-block; width: 33px; text-align: center; padding: 4px 0; text-decoration: none; }
.blog-navi .button a:hover			{ text-decoration: none; background: #62401a; }
/*.blog .frame						{ background: none; border: 0; }*/
/*.blog-list .frame					{ padding: 25px 0 10px; border:0; background:none; border-bottom: 2px solid #2a1a0c; }*/


.pages {
			float: right;
			font-weight: normal;
}
.navigate	{
			border: 1px solid #654022; 
			padding: 4px; padding-left: 10px;
			background: #39230a;
}
.navigate .pages a			{ padding: 4px; border-left: 1px solid #654022; text-decoration: none; color: #fefefe; }
.navigate .pages a:hover	{ background-color: #62401a; }
.navigate .pages .current	{ padding: 4px; background-color: #241605; border-left: 1px solid #654022; color: #fefefe; }
.navigate .pages .separator	{ padding: 4px; border-left: 1px solid #654022; }
.navigate .pages .hintright	{ padding: 4px; border-left: 1px solid #654022; color: #777; }
.navigate .pages .hintleft	{ padding: 4px; color: #777; }
.navigate .tree		{
	text-decoration: none;
	border: 1px solid #333;
	padding: 3px 14px;
	margin-left: -10px;
	position: relative;
	color: white;
	background: #39230a;
	text-shadow: 0.1em 0.1em 0.2em black;
}
.navigate .treesel		{
	text-decoration: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	/*background-color: #444;*/
	background: #39230a;
	border: 1px solid #333;
	padding: 3px 14px;
	margin-left: -10px;
	position: relative;
	color: silver;
}
.navigate .tree:hover		{
	background: #39230a;
}

ul.tabs		{ display: table; padding: 0 0px; list-style: none; position: relative; }
ul.tabs li	{ margin: 0; padding: 0; list-style: none; display: table-cell; float: left; position: relative; }
ul.tabs li:hover	{ 
	background-color: #62401a;
}
ul.tabs a	{ position: relative; display: block; }
ul.tabs .item {
		color:white; padding: 4px 15px;
		text-decoration: none; /*margin-right: 5px;*/
}
ul.tabs .itemselect {
		color:white; padding: 4px 15px;
		text-decoration: none; /*margin-right: 5px;*/
		background-color: #241605;
}
ul.tabs .last {
		color:white; padding: 3px 15px; width: auto; margin-right: -1px;
		text-decoration: none; /*margin-right: 5px;*/
		background: #39230a;
}
.filter { border: 1px solid #654022; color: white; margin: 25px 0 3px; display: block !important;
			padding: 3px; text-align: center;
			background: #39230a;
}
.filter li	{ float:none !important; }

#form-panel	{ padding: 7px 0; display: none; }
.tools	{ padding: 10px; height: 24px; text-align: center; }
.tools .button			{
	border: 1px solid gray; color: white; padding: 6px; text-decoration: none; float:right; cursor: pointer; height: 15px; margin-left: 5px;
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
			background: -moz-linear-gradient(top,  #333,  #222);
			background-image: -o-linear-gradient(top,  #333,  #222);
			background: -ms-linear-gradient(top,  #333,  #222);
			border: 1px solid #444;
			box-shadow: 0 0 5px #444;
}
.tools .button:hover	{ 
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#000));
			background: -moz-linear-gradient(top,  #444,  #333);
			background-image: -o-linear-gradient(top,  #444,  #333);
			background: -ms-linear-gradient(top,  #444,  #333);
}
.tools .button[disabled=disabled] 	{ background-color: #ccc; color:#999;
										background: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#333));
										background: -moz-linear-gradient(top,  #444,  #333);
										background-image: -o-linear-gradient(top,  #444,  #333);
										background: -ms-linear-gradient(top,  #444,  #333);
										cursor: default; }
.tools .submit			{ background-color: #222; border: 1px solid gray; color: white; padding: 4px 8px; text-decoration: none; float:right; cursor: pointer; height: 25px; width: auto; }
.tools .submit:hover	{ background-color: #333; }
.tools .icon			{ float: right; margin: 0 4px; }

.msg-form	{ width: 100%; padding: 5px; border: 1px solid #654022;
			background: #39230a; }
.msg-form	.left-col	{ width: 150px; text-align: right; padding-right: 10px; }
.msg-form	.text		{ height: 200px; }
.msg-form	.icon		{ width: 10px; height: 10px; margin-left: 20px; }
.msg-form	.btn		{
			border: 1px solid gray; color: white; padding: 4px; text-decoration: none; width: auto; height: auto; cursor: pointer; margin-left: 5px;
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
			background: -moz-linear-gradient(top,  #333,  #222);
			background-image: -o-linear-gradient(top,  #333,  #222);
			background: -ms-linear-gradient(top,  #333,  #222);
			border: 1px solid #444;
			box-shadow: 0 0 5px #000;
}
.msg-form input, .msg-form textarea, .msg-form select	{ padding: 3px 0; border-radius: 3px; border: 2px solid #fff; background-color: #bbb; }
.msg-form select			{ max-width: 400px; }
.msg-form	.submit		{
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
			background: -moz-linear-gradient(top,  #333,  #222);
			background-image: -o-linear-gradient(top,  #333,  #222);
			background: -ms-linear-gradient(top,  #333,  #222);
			border: 1px solid #444;
			box-shadow: 0 0 5px #000;
}
.msg-form	.submit:hover, .btn:hover { 
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#444));
			background: -moz-linear-gradient(top,  #555,  #444);
			background-image: -o-linear-gradient(top,  #555,  #444);
			background: -ms-linear-gradient(top,  #555,  #444);
}
.msg-form	.check		{ width: 20px; }
.msg-form	.title		{ padding: 5px; padding-bottom: 0; }
.msg-form	.control	{ padding: 5px; }
.post-editor	{ height: 200px; }

.format-tool	{ border: 1px solid silver; background: url('/img/format.gif') #CCC; display: inline-block; height: 20px; width: 20px; margin-right: 3px; cursor: pointer;}
.format-tool:hover	{ background-color: #888; }
.f-bold	{ background-position: 0px 0px; }
.f-italic	{ background-position: -60px 0px; }
.f-under	{ background-position: -140px 0px; }
.f-strike	{ background-position: -120px 0px; }
.f-url	{ background-position: -500px 0px; }
.f-img	{ background-position: -380px 0px; }
.f-tab	{ background-position: -400px 0px; }
.f-list	{ background-position: -20px 0px; }
.f-listn	{ background-position: -80px 0px; }
.f-user	{ background-position: -40px 0px; }
.f-smile	{ background-position: -60px -20px; }
.f-code	{ background-position: -100px -20px; }
.f-cener	{ background-position: -420px 0px; }
.f-left	{ background-position: -460px 0px; }
.f-right	{ background-position: -480px 0px; }
.f-quote	{ background-position: -220px 0px; }
.f-youtube	{ background-position: -20px -40px; }
.f-achive	{ background-position: -60px -40px; }
.f-color	{ background-position: -40px -40px; }
.f-size	{ background-position: -720px -0px; }
.f-craft	{ background-position: -100px -40px; }
.f-item	{ background-position: -80px -40px; }
.f-wiki	{ background-position: -120px -40px; }
.f-preview{ background-position: -420px -20px; }
.f-spoiler	{ background-position: -140px -40px; }
.f-scroll	{ background-position: -160px -40px; }
.color-cell	{ width: 30px; height: 15px; border: 1px solid silver; cursor: pointer; }
.color-cell:hover	{ border: 1px solid black; }
.preview-dialog		{ font-size: 12px; }
.preview-dialog	 a { color: #999 !important; text-decoration: none !important; }
.preview-dialog	 a:hover { color: gray !important; text-decoration: underline !important; }
.smilies	{ padding: 3px; width: 200px; }
.smilies .smile	{ margin: 3px; cursor: pointer; }

.post-image {
max-width: 800px;
}

.edit-title	{}
.edit-title .pen	{ display: none; cursor: pointer; position: absolute; margin-top: 0px;  }
.edit-title .body	{ padding: 2px; }
.edit-title:hover	{  }
.edit-title:hover .pen	{ display: inline; }

.bc_quote	{ background-color: #241605; border: 1px solid #6e4626; padding: 7px; margin: 5px 0;  }
.bc_quote_title	{ font-style: italic; font-weight: bold; padding-bottom: 7px; color: cornsilk; }
.bc_header	{ background-color: #39230a; text-align: center; }
.bc_table	{ background-color: black; border: 1px solid #654022; width: 100%; }
.bc_row_0	{ background-color: #62401a; }
.bc_row_1	{ background-color: #62401a; }
.bc_table td	{ padding: 2px 4px; }

.topics { background-color: black; padding: 3px; width: 100%; border-spacing: 1px; border: 1px solid #654022; }
.topics .icon	{ width: 22px; text-align: center; }
.topics .name	{ text-align: center; }
.topics .author	{ width: 150px; text-align: center; }
.topics .counter	{ width: 80px; text-align: center; }
.topics .last	{ width: 150px; text-align: center; }
.topics .datetime	{ width: 150px; text-align: center; }
.topics .data	{ width: 60px; text-align: center; }
.topics .delimiter	{ background-color: #222; padding: 3px; font-weight: bold; }
.topics .coords	{ width: 126px; text-align: center; }
.topics th			{ padding: 5px; background: #39230a; }
.topics td			{ background-color: #62401a; padding: 5px; }
.topics .name-row	{ font-size: 14px; font-weight: bold; }
.topics .name-row-closed	{font-size: 14px; font-weight: bold; text-decoration: line-through; }
.topics .author-row	{ text-align: center; }
.topics .posts-row	{  text-align: center; }
.topics .last-row	{  text-align: center; font-weight: bold; }
.topics .t-1	{ color: gold; }
.topics .nodata	{ height: 40px; text-align: center; background-color: #444; color: #bbb; }

.menu-title		{ font-weight: bold; padding: 4px; }
.menu-item		{ margin-left: 15px; }
.wiki-title		{ font-weight: bold; font-size: 16px; text-align: center; }
.wiki-part		{ border: 1px solid #333; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.wiki-part-title	{ font-weight: bold; font-size: 14px; color: lemonchiffon; }
.wiki-part-body		{ padding: 6px; margin-left: 10px; }
.wiki-part .edit	{ visibility: hidden; float: right; width: auto; }
.wiki-part:hover	{ border: 1px solid #3f3f3f; }
.wiki-part:hover .edit	{ visibility: visible; }
.wiki-part-view	{ padding: 5px; }

.wikilink	 { color: #87ceeb; }
.wikiinfo	{ border-bottom: 1px dotted #888; margin-bottom: 3px; }

.wiki-attach	{ text-align: right; border-bottom: 1px solid gray; margin-bottom: 7px; font-size: 10px; }
.promo					{ height: 332px; padding: 0 0 25px 0; margin: 0 0 0 30px; }
.promo .arrow-left		{ float:left; visibility: hidden; }
.promo .arrow-left a	{ margin: 100px 0 0 0; display: block; }
.promo .arrow-left .border{ position:absolute; width: 66px; height: 264px;
								margin: 12px 0 0 60px; z-index: 15; }
.promo .arrow-right		{ float:left; visibility: hidden; }
.promo .arrow-right a	{ margin: 100px 0 0 0; display: block; }
.promo .arrow-right .border{ position:absolute;  width: 66px; height: 264px;
								margin: 12px 0 0 -84px; z-index: 15; }
.promo .items			{ float:left; width:618px; height: 290px; overflow: visible; margin: 0 30px; }
.promo .items .mask		{ overflow: hidden; margin-left: 0px; position:relative; height: 292px; width: 618px; }
.promo .items .mask .border	{ position: absolute; width: 800px; height: 264px; z-index: 3;
								margin: 12px 0 0 0; }
.promo .items .wrapper	{ position:relative; height: 292px; width: 618px; }
.promo .items .rotation-block	{ height: 292px; float: left; position: relative; overflow: hidden; }
.promo .item 			{ padding: 25px 0 0 0; position: relative; float:left; }
.promo .item .wrap		{ border: 1px solid #2a1a0c; width: 616px; height: 266px;  }				
.promo .item .text		{ position: absolute; margin: 0 0 0 1px; width: 584px; height: 40px; background: url(/imgs/block-back.png); padding: 15px; }
.promo .item .image		{ border: 1px solid #2a1a0c; }
.promo .item .image img	{ display: block; }
.promo .dots			{ text-align: center; padding: 15px 0; }
.promo .dots a			{ display: inline-block; width: 26px; height: 26px; background: url(/imgs/dot_empty_red.png) no-repeat; }
.promo .dots .full		{ background: url(/imgs/dot_full_red.png) no-repeat; }

.ubutton { border: 1px solid #b7b7b7; font-size: 20px; padding: 10px 20px; color: white;
				text-decoration: none; margin: 0 0 30px 0; }

.ubutton,
.line-form .btn,
.msg-form .submit,
.msg-form .btn,
.tools .button		{  background: -webkit-gradient(linear, 0 0, 0 100%, from(#39230a), to(#4f3724));
							background: -moz-linear-gradient(top, #39230a, #4f3724);
							background-image: -o-linear-gradient(top, #39230a, #4f3724);
							background: -ms-linear-gradient(top, #39230a, #4f3724); border-radius:0; border:1px solid #7c583a; }
							
.line-form .file:hover,
.msg-form .file:hover,
.line-form .btn:hover,
.msg-form .submit:hover,							
.msg-form .btn:hover,
.btn:hover,
.file-cont > input[type=file]:hover + .btn,
.tools .button:hover,
.ubutton:hover		{background: -webkit-gradient(linear, 0 0, 0 100%, from(#52341b), to(#39230a));
							background: -moz-linear-gradient(top, #52341b, #39230a);
							background-image: -o-linear-gradient(top, #52341b, #39230a);
							background: -ms-linear-gradient(top, #52341b, #39230a); }
							
#games 				{  margin: 0px auto; }