html, body { background-color: #614b24; min-height: 100%; height: auto; }


html		{ background-image: url(/img/main_bg.jpg) , url(/img/main_bg_m.jpg)  ;
				background-repeat:no-repeat, repeat-x;
				background-position:  top center, top center; }
body		{ background: none; }

.ui-widget-content a{ color:#708291 !important; }
a					{ color:#c19f6f; }
.ui-widget-content a:hover{ color:#7799b5 !important; }
a:hover				{ color:#c19f6f; }

table				{ background-color: none; border-radius:0; }
.content			{ background: #4e311d; border: 1px solid #9f714b; border-radius: 0; margin: 5px 10%; width: auto; }
.topics .author-row,
.topics .text-row	{ background: #361f10; }
.zoneinf-block, .profile-block, .msg-form, .frame-body, .hintmess,
.frame				{ background: #26150d; border-radius: 0; border:1px solid #654022; color:#eee; }

.alert				{ background: #361f10; border-radius: 0; }
 
 .popup				{ background: #361f10; border-radius: 0; border:1px solid #7c583a; }
 .popup:hover		{ background: #4e311d; }
 
.topics				{ border-radius: 0; background: #1f1305; }
.screens .item		{ border-radius: 0; background: #361f10; border:1px solid #361f10; }
.screen-bottom .vote-new:hover	{ background-color:#4e311d; border-color:#9f714b; }
.screen-comments	{ background-color: #361f10; }

.header				{  background: #361f10; border: 1px solid #9f714b; padding: 5px 25px 0 25px;
						margin: 0 10% 10px; border-top:0; }
.header .main-logo	{ background: url(/img/main_icon.png) no-repeat; }
.header .main-logo-clicked	{ background: url(/img/main_icon_s.png) no-repeat; }
.header .main-logo .logo-popup	{background: #361f10; border:1px solid #4d6572; border-radius:0;}
								
.top-block			{ background: url(/img/red_bg.png); }

.posts				{ border-radius: 0; margin: 5px 0;  background: #1e140f; }
.posts .tool-row,
.posts .header-row,
.posts .msg-row,
.posts .hidden-row,
.posts .author-row	{ background: #361f10; }

.wiki-part			{ border: 1px solid #361f10; border-radius:0; }
.wiki-part:hover	{ background: #573d21; border: 1px solid #7c583a; }
.main-header,
.wikiinfo			{ border-bottom: 1px dotted #7c583a; }

.centerpanel,
.leftpanel			{ background: #361f10; border-radius:0; border: 1px solid #7c583a; color:#eee; }




.navigate	{
			border: 1px solid #654022; 
			padding: 4px; padding-left: 10px;
			background: #361f10;
			border-radius: 0;
}
.navigate .pages			{ border-top-color: #654022; }
.navigate .pages a			{ padding: 4px; border-left: 1px solid #654022; text-decoration: none; color: #fefefe; }
.navigate .pages a:hover	{ background-color: #4d311d; }
.navigate .pages .current	{ padding: 4px; background-color: #241605; border-left: 1px solid #654022; color: #fefefe; }
.navigate .pages .separator	{ padding: 4px; border-left: 1px solid #654022; }
.navigate .pages .hintright	{ padding: 4px; border-left: 1px solid #654022; color: #777; }
.navigate .pages .hintleft	{ padding: 4px; color: #777; }
.navigate .tree		{
	text-decoration: none;
	border: 1px solid #333;
	padding: 3px 14px;
	margin-left: -10px;
	position: relative;
	color: white;
	background: #361f10;
	text-shadow: 0.1em 0.1em 0.2em black;
}
.navigate .treesel		{
	text-decoration: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	/*background-color: #444;*/
	background: #361f10;
	border: 1px solid #333;
	padding: 3px 14px;
	margin-left: -10px;
	position: relative;
	color: silver;
}
.navigate .tree:hover		{
	background: #361f10;
}

.mainmenu				{ border-radius : 0; border: 1px solid #7c583a; background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10));
							background: -moz-linear-gradient(top, #4e311d, #361f10);
							background-image: -o-linear-gradient(top, #4e311d, #361f10);
							background: -ms-linear-gradient(top, #4e311d, #361f10);  }
ul.dropdown				{ background: #4e311d; border-radius: 0; border: 1px solid #7c583a;  }
ul.dropdown li a		{ background: #361f10; }
ul.dropdown li a:hover	{ background: #704c24; }
ul.tabs li:hover,
ul.tabs .item:hover		{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#361f10), to(#4f3724));
							background: -moz-linear-gradient(top, #361f10, #4f3724);
							background-image: -o-linear-gradient(top, #361f10, #4f3724);
							background: -ms-linear-gradient(top, #361f10, #4f3724); }

.right-panel		{  background: url(/img/red_bg.png);  padding: 115px 15px 0 15px; height: 100%; top:0;  }
.right-panel .panel-link	{ color:#fff; }

.content .right-panel	{border: 1px solid #4d6572; padding: 15px 15px 0 15px; }
.right-panel-preview	{ margin: 0 10px 0 0; }

.navigate .tree		{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#361f10), to(#4f3724));
							background: -moz-linear-gradient(top, #361f10, #4f3724);
							background-image: -o-linear-gradient(top, #361f10, #4f3724);
							background: -ms-linear-gradient(top, #361f10, #4f3724);
							border-top-right-radius: 0;
							border: 1px solid #4f3724; }
.navigate .tree:hover	{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f1305), to(#361f10));
							background: -moz-linear-gradient(top, #1f1305, #361f10);
							background-image: -o-linear-gradient(top, #1f1305, #361f10);
							background: -ms-linear-gradient(top, #1f1305, #361f10); }	
													
.navigate .treesel	{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e300d), to(#664830));
							background: -moz-linear-gradient(top, #4e300d, #664830);
							background-image: -o-linear-gradient(top, #4e300d, #664830);
							background: -ms-linear-gradient(top, #4e300d, #664830);
							border-top-right-radius: 0;
							color:#ab8f6a; border:1px solid #4f3724; }
							
.tb-panel .tb-btn:hover		{ background: #361f10;  }
.tb-panel .tb-btn:first-child:hover{ border-radius:0; }
.tb-panel			{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10));
							background: -moz-linear-gradient(top, #4e311d, #361f10);
							background-image: -o-linear-gradient(top, #4e311d, #361f10);
							background: -ms-linear-gradient(top, #4e311d, #361f10); border-radius:0; border: 1px solid #7c583a;
							width: auto; margin: 5px 10% 0; }
.tb-panel .tb-btn-active:first-child	{ border-radius:0; }
.tb-panel .splitter	{ border-right-color: #735642; }

.filter				{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10));
							background: -moz-linear-gradient(top, #4e311d, #361f10);
							background-image: -o-linear-gradient(top, #4e311d, #361f10);
							background: -ms-linear-gradient(top, #4e311d, #361f10); border-radius:0; border: 1px solid #7c583a; }
		
pre code			{ border-radius: 0 !important; background:#271807 !important; border:1px solid #7c583a; }					

.scroll-head		{ background:#4e311d; }
.scroll				{ border:1px solid #6e4626; }
.scroll-body		{ background: #361f0f; border-radius: 0; }

.posts .header-row	.post-header	{ color:#9f714b; }
.warning-line .info-block			{ background: #361f10; border-radius: 0;  }
.info-block			{  border-radius: 0; background:#361f10; border:1px solid #7c583a; }

.ubutton,
.line-form .btn,
.msg-form .submit,
.msg-form .btn,
.tools .button		{  background: -webkit-gradient(linear, 0 0, 0 100%, from(#361f10), to(#4f3724));
							background: -moz-linear-gradient(top, #361f10, #4f3724);
							background-image: -o-linear-gradient(top, #361f10, #4f3724);
							background: -ms-linear-gradient(top, #361f10, #4f3724); border-radius:0; border:1px solid #7c583a; }
.line-form .file:hover,
.msg-form .file:hover,
.line-form .btn:hover,
.msg-form .submit:hover,							
.msg-form .btn:hover,
.btn:hover,
.file-cont > input[type=file]:hover + .btn,
.tools .button:hover,
.ubutton:hover		{background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10));
							background: -moz-linear-gradient(top, #4e311d, #361f10);
							background-image: -o-linear-gradient(top, #4e311d, #361f10);
							background: -ms-linear-gradient(top, #4e311d, #361f10); }


.topics .nodata		{ background: #4e311d; }


.blog .comment .block:hover,
.blog .class-edit:hover{ background: #361f10; border-radius:0; }

.blog .comment .comment	{ background: url(/img/line2.png) repeat-y; }

.bar .in			{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10));
							background: -moz-linear-gradient(top, #4e311d, #361f10);
							background-image: -o-linear-gradient(top, #4e311d, #361f10);
							background: -ms-linear-gradient(top, #4e311d, #361f10);  }
							
.topics .delimiter	{ background: #361f10; }

.profile-block .desc	{ color:#7c583a; }
.profile-block .head	{ border-bottom: 1px dotted #7c583a; }

.info-block-no			{ border:1px solid #f89696; }

.tooltip				{ background: #361f10; border-radius: 0; border:1px solid #7c583a; }
.achive					{ background: #4e311d; border-radius: 0; border:1px solid #7c583a; }
.achive .score			{ background: #361f10; border-radius: 0; border:1px solid #7c583a; }

.card					{ background: #361f10; border-radius: 0; border:1px solid #7c583a; }
.card:hover				{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10));
							background: -moz-linear-gradient(top, #4e311d, #361f10);
							background-image: -o-linear-gradient(top, #4e311d, #361f10);
							background: -ms-linear-gradient(top, #4e311d, #361f10); border:1px solid #7c583a; }

.blog-navi			{ background: #361f10; border:1px solid #9f714b; }
.blog-navi .button a:hover{ background: #2a1a0c; }

.page-title			{  border-bottom: 1px solid #7c583a; }


.bc_table			{ border:1px solid #654022; }
.bc_row_1			{ background: #40271b; }
.bc_row_0			{ background: #4d311d; }
.bc_header			{ background: #271807; }
.bc_quote			{ border-radius: 0; background:#64432b; border:1px solid #6e4626; }


#user-select-list,
#user-select-search,
#user-select-category{ background: #4e311d; border:1px solid #9f714b; }
#user-select-category	.item:hover	{ background: #334f6b; }
.ui-corner-all		{ border-radius:0 !important; }
.ui-widget-content	{ border:0 !important; background: #361f10 !important; }
.ui-widget-header	{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10)) !important;
							background: -moz-linear-gradient(top, #4e311d, #361f10) !important;
							background-image: -o-linear-gradient(top, #4e311d, #361f10) !important;
							background: -ms-linear-gradient(top, #4e311d, #361f10) !important; }
.ui-dialog .ui-dialog-buttonpane	{ border: 0 !important; border-top: 2px solid #7c583a !important; }
.ui-dialog-titlebar-close			{ background: #7c583a !important; box-shadow:0 !important; }
.ui-dialog-titlebar-close:hover		{ background: #6e4626 !important; box-shadow:0 !important; }

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#361f10), to(#4f3724)) !important;
							background: -moz-linear-gradient(top, #361f10, #4f3724) !important;
							background-image: -o-linear-gradient(top, #361f10, #4f3724) !important;
							background: -ms-linear-gradient(top, #361f10, #4f3724) !important; border-radius:0 !important; border:1px solid #4e6573 !important; }
							
.hovertr .topics tr:hover .icon-row,
.hovertr .topics tr:hover .name-row,
.hovertr .topics tr:hover .name-row-closed,
.hovertr .topics tr:hover .author-row,
.hovertr .topics tr:hover .posts-row,
.hovertr .topics tr:hover .last-row,
.hovertr .topics tr:hover .text-row	{ background-color: #4f3724; }

.profile-panel						{ margin: 0; }
.profile-panel .button				{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.profile-panel .button-container	{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.profile-panel .button-active,
.profile-panel .button:hover	{ border: 1px solid #7c583a;
							background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10));
							background: -moz-linear-gradient(top, #4e311d, #361f10);
							background-image: -o-linear-gradient(top, #4e311d, #361f10);
							background: -ms-linear-gradient(top, #4e311d, #361f10); 
							 }
.profile-panel .button-active	{ border-bottom: 0 !important; margin-bottom: 1px !important; }
.profile-panel .submenu		{ background: #361f10; border: 1px solid #7c583a;
								-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.profile-panel .submenu .item a	{  }
.profile-panel .submenu .item a:hover	{ background: #4e311d; }
.profile-panel .arrow		{ border-radius: 0; }
.profile-panel .button-active .arrow,
.profile-panel .arrow:hover		{ background: url(/img/arrow-gray.gif) no-repeat center center #361f10; }
.profile-panel .button-active .arrow{ border-radius: 0; }

.fixed-panel		{ background: #1f1305; border-bottom:1px solid #7c583a; }
.fixed-panel .button:hover	{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10));
							background: -moz-linear-gradient(top, #4e311d, #361f10);
							background-image: -o-linear-gradient(top, #4e311d, #361f10);
							background: -ms-linear-gradient(top, #4e311d, #361f10); }
.fixed-panel .separator span		{ border-left:1px solid #4d6572; }
.fixed-panel .separator span span	{ border-left:1px solid #444; }
.fixed-panel .submenu				{ background: #1f1305; border: 1px solid #7c583a; border-top:0;
										-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.fixed-panel .submenu .item a:hover	{ background: #4e311d; }
.fixed-panel .button-active:hover	{ background: none; }
.fixed-panel .arrow:hover			{ background: url(/img/arrow-gray.gif) no-repeat center center #361f10; }

.forums					{ background: #1f1305; }	

.achiv					{ background: #4e311d; border:1px solid #7c583a; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.achiv .progress .current{  background: -webkit-gradient(linear, 0 0, 0 100%, from(#4e311d), to(#361f10));
							background: -moz-linear-gradient(top, #4e311d, #361f10);
							background-image: -o-linear-gradient(top, #4e311d, #361f10);
							background: -ms-linear-gradient(top, #4e311d, #361f10); -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.achiv .progress 		{ background: #361f10; border:1px solid #7c583a; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.achiv .desc			{ background: #361f10; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.achiv .platinum		{ color:#707070; }
.achiv .gold			{ color: gold; }
.achiv .silver			{ color: #b0b0b0; }
.achiv .bronze			{ color: #8a5618; }

.login a				{ color: #fff; }

.mobile-showen-menu			{ background: #361f10; }
.mobile-showen-menu .mobilemenu{border-top:1px solid #111;  }

.mobile-showen-menu .mobilemenu .item		{ border-bottom:1px solid #111; }
.mobile-showen-menu .mobilemenu .dropdown-mobile{ border-bottom:1px solid #111; background:#4e311d; }
.mobile-showen-menu .mobilemenu .item:hover	{ background:#26150d;  }

.plan { background: #4e311d; border: 1px solid #654022; }
.plan .caption { background: #361f10; }
.plan .cost { border-top-color: #654022; }
.plan .main { border-top-color: #654022; }
